// footer
footer {
  background-color: #f5f5f7;
  margin-top: 8px;
}

.footerSmallPrint {
  padding: 20px 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  font-size: 12px;
  color: #86868b;
  overflow: hidden;
}

.seperator {
  margin: 20px 0px;
  border-color: rgba(255, 255, 255, 0.596);
}

// large footer display
.footerLarge {
  width: 100%;
  th {
    text-align: start;
    color: rgb(75, 75, 75);
  }
  a {
    font-size: 12px;
    padding: 5px 0px;
    color: #515154;
    display: inline-block;
    &:hover {
      text-decoration: underline 1px solid black;
    }
  }
}
// end of large footer display

// mobile footer display

.mobileFooter {
  display: none;
}

// bottom details

.bottomDetails {
  margin-top: 10px;
  p {
    padding: 8px 0px;
    display: inline-block;
    color: #86868b;
  }
  .seperator2 {
    border-color: rgba(255, 255, 255, 0.596);
  }
  .country {
    float: right;
    padding: 8px 0px;
    a {
      color: #272727 !important;
      &:hover {
        text-decoration: underline 1px solid black;
      }
    }
  }
  .tabs {
    float: right;
    display: flex;
    margin-right: 60px;
    padding: 8px 0px;
    li {
      list-style: none;
      a {
        padding: 0px 5px;
        color: #272727;
        &:hover {
          text-decoration: underline 1px solid black;
        }
      }
    }
  }
}
.cta-small-links {
  color: rgb(72, 139, 207) !important;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

  &:hover {
    text-decoration: 1px underline solid #06c;
  }
}

.bottomDetails-med {
  display: none;
  @extend .bottomDetails;
  .tabs {
    float: none !important;
    flex-wrap: wrap;
    margin-top: -8px !important;
  }
  .country {
    margin: 0;
    display: block;
  }
  p {
    margin-top: -5px;
  }
  .cta-small-links {
    color: rgb(72, 139, 207) !important;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    &:hover {
      text-decoration: 1px underline solid #06c;
    }
  }
}

// bottom details media queries

@media screen and (max-width: 934px) {
  .tabs {
    float: none !important;
    margin-left: -5px;
  }
}

@media screen and (max-width: 760px) {
  .bottomDetails {
    display: none;
    padding-top: 8px;
  }
  .bottomDetails-med {
    display: block;
    .tabs {
      float: none;
      margin-left: -4px;
      padding-top: 15px;
    }
    p {
      display: inline;
      padding: 0;
    }
    a:hover {
      text-decoration: underline 1px solid black;
    }
    .country {
      float: none;
      padding: 20px 0px;
    }
  }
}

// end of bottom details media queries

// end of bottom details

// footer media queries

// footer media queries

@media screen and (max-width: 760px) {
  .footerLarge {
    display: none;
  }
  .mobileFooter {
    display: block;
  }
  .dropper {
    color: rgb(34, 34, 34);
    cursor: pointer;
    padding: 10px 3px;
    width: 100%;
    margin: 0px;
    border: none;
    outline: none;
    font-size: 12px;
    text-align: start;
    transition: 0.4s;
    background: none;
    font-family: inherit;
    margin-left: -5px;
    z-index: 100;

    &::after {
      content: "+";
      float: right;
      font-size: 14px;
      color: rgb(32, 32, 32);
      transition: 0.07s linear;
    }
  }

  .active:after {
    transform: rotate(45deg);
    content: "+";
    transition: 0.25s linear;
  }

  .dropdown-content {
    margin: 0px;
    line-height: 2;
    padding: 0px 10px;
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    border-bottom: 1px solid rgb(186, 186, 186);
    ul {
      list-style: none;
      margin-bottom: 20px;
    }
    a {
      color: #797979;

      &:hover {
        text-decoration: underline 1px solid rgb(71, 71, 71);
      }
    }

    .active .dropdown-content {
      display: block !important;
      margin-bottom: 8px;
    }

    // end of footer media queries
    // end of mobile footer display
    // end of footer
  }
}
