.grid-wrapper {
  padding: 0px 10px;
}

.grid-container {
  border-top: 0.1rem solid white;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 0.6rem;
  overflow: hidden;
  max-width: 100%;
}

// global grid item css
.grid-item {
  height: 590px;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;

  .title-heading {
    margin-top: -20px;
    font-size: 40px;
    overflow: hidden;
  }

  .title-sub-heading {
    font-size: 21px;
  }

  .cta {
    margin-top: 10px;
  }
}


// individual grid items
.grid-item-1 {
  background-image: url("/images/gridimages/iphone12prolarge1.jpg");

  .title-heading,
  .title-sub-heading {
    color: white;
  }

  .cta-link {
    color: #2997ff !important;

    .line-break {
      display: block;
    }
  }
}

.grid-item-2 {
  background-image: url("/images/gridimages/iwatchlarge1.jpg");

  .colorfulText {
    color: rgb(0, 0, 0); // fallback color if background image does not load
    background: url("/images/gridimages/iwatchtextcolor1.jpg") center right;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    .line-break {
      display: inline;
    }
  }
}

.grid-item-3 {
  background-image: url("/images/gridimages/arcadelarge1.jpg");

  .title-sub-heading {
    margin-top: 30px;
  }
}

.grid-item-4 {
  background-image: url("/images/gridimages/tvlarge1.jpg");

  .title,
  .cta {
    margin-top: 30px;
  }

  .title-sub-heading {
    font-size: 40px;
    font-weight: 600;
  }

  .cta {
    margin-top: 8px;
  }
}

.grid-item-5 {
  background-image: url("/images/gridimages/airtaglarge1.jpg");
}

.grid-item-6 {
  background-image: url("/images/gridimages/mythicquestlarge1.jpg");

  .title {
    margin-top: 410px;
    margin-left: 10px;
    color: white;
  }

  .cta-link {
    color: #2997ff !important;
  }
}

// grid queries

// medium screens
@media screen and (max-width: 1085px) {

  // global grid-item
  .grid-item {
    margin-top: -30px;

    .title {
      margin-top: 30px;

      .title-heading {
        font-size: 40px !important;
        margin-top: -30px;
        font-size: 40px;
        overflow: hidden;
      }

      .title-sub-heading {
        font-size: 20px;
      }
    }
  }


  .cta {
    .cta-link {
      font-size: 17px;
    }
  }

  .grid-item-1 {
    background-image: url("/images/gridimages/mediumimage1.jpg");

    .title {
      .title-heading {
        font-size: 35px;
      }

      .title-sub-heading {
        font-size: 20px;
      }
    }

    .line-break {
      display: block;
    }
  }

  .grid-item-2 {
    background-image: url("/images/gridimages/mediumimage2.jpg");

    .title {
      .title-heading {
        font-size: 35px;
      }
    }

    .line-break {
      display: block;
    }
  }

  .grid-item-3 {
    background-image: url("/images/gridimages/mediumimage3.jpg");

    .title {
      margin-top: 28px;
    }

    .title-heading {
      font-size: 35px;
    }

    .title-sub-heading {
      font-size: 20px;
    }
  }

  .grid-item-4 {
    background-image: url("/images/gridimages/mediumimage4.jpg");

    .title {
      margin-top: 28px;
    }

    .title-sub-heading {
      font-size: 30px !important;
      margin-top: 25px;
    }
  }

  .grid-item-5 {
    background-image: url("/images/gridimages/mediumimage5.jpg");

    .title {
      .title-heading {
        font-size: 40px;
      }
    }
  }

  .grid-item-6 {
    background-image: url("/images/gridimages/mediumimage6.jpg");

    .title {
      margin-top: 400px;
    }
  }

  .grid-item-5,
  .grid-item-6 {
    margin-bottom: -20px;
  }
}

// smaller screens

@media screen and (max-width: 765px) {
  // make grid items form as one column here

  .grid-wrapper {
    padding: 0px;
    margin-left: -10px;
  }

  .grid-item {
    margin: -17px 10px;
  }

  .cta-link {
    font-size: 17px;
  }

  .grid-item-1 {
    .title {
      margin-top: 40px;
    }

    .cta {
      margin-top: 20px;
    }

    .line-break {
      display: inline;
    }
  }

  .grid-item-2 {
    .line-break {
      display: block;
    }
  }

  .title-price {
    font-size: 15px;
  }

  .grid-container {
    grid-template-columns: repeat(2, auto);
    border-top: 0.1rem solid white;
    grid-template-columns: auto;
  }
}